*{/* Reseteo básico para quitar espacios por defecto del navegador */
    margin: 0px;
padding: 0px;
box-sizing: border-box;}
html{
    font-size: 62.5%; /* Facilita el uso de rem (1rem = 10px) */
}
.Net{
    position: absolute;
    top: 0;
    left: 0;
    /* pocicion quede fija y elementos inicales  */
    width: 100%;
    height: 100%;/* tamaño al 100x100 */
    z-index: -1;/* hace que quede detras de todo el texto */
    filter: brightness(20%); /* filtro reduce el brillo al porcentaje */
} 
.Logo{
    width: 11rem;
    display: inline-block;  /* lo bloquea par ue no se mueva de ahi */
}
.Cabeza{
    display: flex;
     justify-content:space-between; /* justifica el contenido para que se distrivuya en en el misma caja */
    align-items: center;
    padding-left: 35rem;
    padding-right: 35rem; 
    background-color: rgba(0, 0, 0, 0.24);
}
button{
    margin: 3rem ;
    color: white;
    font-family:unset;
    background-color:rgb(229, 9, 20);
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 2rem;
}
.Inicio{
    color: white;
    font-family: unset;
    width: 50rem ;
    padding: 10px auto;
    margin: 10px auto;
    align-items: center;   
}
h1{
    font-size: 6rem; 
}
h2{
    font-size: 2rem; 
}
h3{
  font-size: 2.5rem;  
}
