.root{ /*DECLARA LA VARIABLE  */

}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
form {
    background-color: #8b8b41;
    padding: 20px;
    width: 20px;
    width: 80%;
    margin: 1rem auto;
}
label, input{
    display: block; /* ahce que la letra de los formulacios este encima de la cajita */ 
    /*  */
}
input{
    margin-top: 10px;
    width: 100%;
    padding: 5px;/* hace que los recuadros sean mas grandes */
}