*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-transform: uppercase; /*MAYUSCULA */
    text-align: center;  /*alineacion central */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*tipografia */
    font-style: italic; /*letra medio cursiva */
}

div{
    background-color: beige;
    margin: 20px;
    padding: 15px;
    border: 2px solid chartreuse;/* grosor, tipo de linea, color */
    border-radius: 15px; /* elimina esquinas*/
}
li{
    list-style: none;/* elimina los puntos de la lista*/
}
.Pasta{
    background-color: rgb(208, 208, 14);
    margin: 20px;
    padding: 15px;
    border: 2px solid chartreuse;/* grosor, tipo de linea, color */
    border-radius: 15px; /* elimina esquinas*/
}
.Chesscake{
    background-color: rgb(223, 145, 145);
    margin: 20px;
    padding: 15px;
    border: 2px solid rgb(248, 0, 0);/* grosor, tipo de linea, color */
    border-radius: 15px; /* elimina esquinas*/
}
.Caldo{
    background-color: rgb(115, 89, 16);
    margin: 20px;
    padding: 15px;
    border: 2px solid rgb(252, 252, 252);/* grosor, tipo de linea, color */
    border-radius: 15px; /* elimina esquinas*/
}