*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Title{
    text-transform: uppercase; /*MAYUSCULA */
    text-align: center;  /*alineacion central */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*tipografia */
    font-style: italic; /*letra medio cursiva */
}

.Receta{
    background-color: beige;
    margin: 20px;
    padding: 15px;
    border: 2px solid chartreuse;/* grosor, tipo de linea, color */
    border-radius: 15px; /* elimina esquinas*/
}
li{
    list-style: none;/* elimina los puntos de la lista*/
}
.Receta1{
    background-color: rgb(208, 208, 14);
    border: 2px solid chartreuse;/* grosor, tipo de linea, color */
}
.Receta2{
    background-color: rgb(223, 145, 145);
    border: 2px solid rgb(248, 0, 0);/* grosor, tipo de linea, color */
  
}
.Receta3{
    background-color: rgb(115, 89, 16);
    border: 2px solid rgb(252, 252, 252);/* grosor, tipo de linea, color */
    
}
div{
    background-color: blue;
}
.Container{
    background-color: rgb(156, 203, 232);
}